<div class="banner">
  <img
    class="img img-responsive desktop-only"
    src="https://d3ljlx3hzhder.cloudfront.net/sprink/b2c_assets/images/week_menu_banner.jpg"
    alt="banner"
  />
</div>
<div class="menu mt-3 text-center">
  <h3 class="py-3">Menu for the Week</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="pl-2 pl-lg-4">
        <strong>Select your Preference to view Menu</strong>
      </p>
    </div>
    <div class="col-6">
      <!-- <i class="fa fa-sliders-h ml-lg-4 ml-2">::before == $0</i> -->
      <span class="ml-2">
        <b>Filter By</b>
      </span>
    </div>
    <div class="col-6 text-right">
      <span><b>veg</b></span>
      <label class="switch ml-3 pt-3">
        <input type="checkbox" id="is_veg" />
        <span class="slider round"> </span>
      </label>
    </div>
  </div>

  <div class="list row pt-4 pl-3 pr-4">
    <div class="filer option ml-lg-4 ml-2 col-12">
      <div class="col-12 pt-4 font-text-bold">cuisine Type</div>
      <div class="col-12 pt-lg-4">
        <button
          type="button"
          class="btn btn-sm badge-pill mt-3 mt-lg-0 filter-inactive"
        >
          North Indian
        </button>
        <button
          type="button"
          class="btn btn-sm badge-pill mt-3 mt-lg-0 filter-inactive"
        >
          South Indian
        </button>
        <button
          type="button"
          class="btn btn-sm badge-pill mt-3 mt-lg-0 filter-inactive"
        >
          Salad
        </button>
        <button
          type="button"
          class="btn btn-sm badge-pill mt-3 mt-lg-0 filter-inactive"
        >
          keto
        </button>
      </div>

      <div class="col-12 pt-4 font-text-bold">Meal sessions</div>
      <div class="col-12 pl-0">
        <button
          type="button"
          class="btn btn-sm badge-pill mt-3 ml-3 filter-inactive"
        >
          lunch
        </button>
        <button
          type="button"
          class="btn btn-sm badge-pill mt-3 ml-3 filter-inactive"
        >
          Dinner
        </button>
      </div>

      <div class="col-12 pt-4 font-text-bold">portion size</div>
      <div class="col-12 pb-4">
        <button
          type="button"
          class="btn btn-sm badge-pill mt-3 ml-3 filter-inactive"
        >
          lunch
        </button>
        <button
          type="button"
          class="btn btn-sm badge-pill mt-3 ml-3 filter-inactive"
        >
          Dinner
        </button>
      </div>
    </div>
  </div>
</div>
