<!-- Organize the codebase of this app by 
putting appropriate code into the suitable nested or sibling components. -->
<!-- Angular - Components - Code Organization - One-way and Two-way Binding #20 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <p>first Name is=>{{ fname }} Last name is=>{{ lname }}</p>

      <button (click)="oneWayBinding()">cllick me!!!!</button>
    </div>
  </body>
</html>
