<!-- //for lab 1 &2 -->
<!-- <mat-toolbar color="primary">Contacts</mat-toolbar>
<mat-list>
  <mat-list-item>
    <img mat-list-avatar src="{{ imageSrc }}" />
    <h3 mat-line>Shubham Mane</h3>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list> -->

<!-- //for lab 3&4-->
<!-- <mat-list>
  <mat-list-item *ngFor="let contact of contacts" class="">
    <mat-divider></mat-divider>
    <img mat-list-avatar src="{{ contact.Image }}" class="circle" />
    <h3 mat-line>{{ contact.firstname }}</h3>
  </mat-list-item>
</mat-list>

<a [routerLink]="'/contacts-list'"> click me</a> -->

<router-outlet></router-outlet>
