.he{
    margin-left: 200px;
    margin-right: 200px;
}

.item1,.item2,.item3,.d1,.d2,.d3{
    margin-left: 20px;
    margin-right: 20px;
}
.d4,.d5,.d6{
    margin-left: 20px;
    margin-right: 20px;
}
.dl{
    margin-bottom: 50px;
}
.r1{
    margin-top: 10px;
}
.r2{
    margin-top: 10px;
}