<div class="nav_img about-us">
  <img
    class="mx-auto d-block"
    src="https://d3ljlx3hzhder.cloudfront.net/sprink/b2c_assets/images/Group-13462.png"
    alt=""
  />
</div>
<div class="container">
  <div class="">
    <div class="head_img justify-content-center row align-items-center">
      <h4 class="tc">About Us</h4>
    </div>

    <div class="text-center font-weight-bold pt-4 mb-1 pb-2">
      <h5>
        We are on a mission to make people’s lives easier and mealtime tastier.
      </h5>
    </div>
    <div class="text-center">
      <p>
        We take a fresh approach to the food industry by delivering hygienic,
        delicious, better-for-you, homely meals, right to your door. We are here
        so that you can finally ditch all the grocery shopping, cutting, cooking
        and cleaning and take mealtime stress off your plate. Sprink enables you
        to have your daily meals without skimping on variety or great taste. All
        of it, brought to you on a platform that is wondrously easy to use and
        at no regret prices.
      </p>
      <p class="font-italic"></p>
      <i>Say No To Kitchen &amp; Yes to Life</i> with the most
      <b>Easy, Affordable food services for your daily meals.</b>
    </div>
  </div>
  <div class="mt-5 pt-5">
    <div class="head_img justify-content-center row align-items-center">
      <h4 class="tc">Our Philosophy</h4>
    </div>

    <div class="text-center font-weight-bold mt-1 pt-4 mb-2 pb-2">
      <h5>Cook responsibly &amp; deliver food fresh and tasty.</h5>
    </div>
    <div class="text-center">
      <p>
        We love food, and we’re committed to making it the right way. All Sprink
        food has to meet our three-point code. First, it has to be healthy, made
        with trusted ingredients from trusted vendors. Second, it has to be
        prepared with utmost hygiene standards. Finally, it has to taste good.
      </p>
    </div>
  </div>
  <!-- <div class="mt-1 pt-4">
    <div class="justify-content-center row align-items-center">
      <h5 class="">ALL THE MEALS WE MAKE</h5>
    </div>

    <div class="mt-2 pt-md-5 mb-2 pb-2 shadow border bw">
      <div class="row mt-3">
        <div class="col-md-4 my-2">
          <div class="row justify-content-center">
            <div class="">
              <img
                src="https://d3ljlx3hzhder.cloudfront.net/sprink/b2c_assets/images/Group-13434.png"
                class="px-2"
                alt=""
              />
            </div>
            <div class="col-5 col-sm-6 px-0">
              <h6>Ingredients Sourced from Licensed Vendors</h6>
            </div>
            <p>
              <a
                class="text-dark"
                data-toggle="collapse"
                href="#collapseExample"
                role=""
                aria-expanded="false"
                aria-controls="collapseExample"
              >
              </a>
            </p>
            <h3 class="my-auto">
              <a
                class="text-dark"
                data-toggle="collapse"
                href="#collapseExample"
                role=""
                aria-expanded="false"
                aria-controls="collapseExample"
                ><i
                  onclick="myFunction(this)"
                  class="fas fa-chevron-right pl-sm-3"
                ></i
              ></a>
            </h3>
            <a
              class="text-dark"
              data-toggle="collapse"
              href="#collapseExample"
              role=""
              aria-expanded="false"
              aria-controls="collapseExample"
            >
            </a>
            <p></p>
            <div class="collapse mt-3 container mx-5" id="collapseExample">
              <div class="card card-body" style="background-color: #cff1ff">
                A meal is only as good as its ingredients. We mindfully source
                fresh veggies, hearty whole grains from farms and distributors
                who are highly trusted and licensed in the industry, so every
                bite oozes of fresh flavours.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 my-2">
          <div class="row justify-content-center">
            <div class="">
              <img
                src="https://d3ljlx3hzhder.cloudfront.net/sprink/b2c_assets/images/Group-13434.png"
                class="px-2"
                alt=""
              />
            </div>
            <div class="col-5 my-auto col-sm-6 px-0">
              <h6>No Frozen Ingredients</h6>
            </div>
            <p>
              <a
                class="text-dark"
                data-toggle="collapse"
                href="#collapseExample1"
                role=""
                aria-expanded="false"
                aria-controls="collapseExample"
              >
              </a>
            </p>
            <h3 class="my-auto">
              <a
                class="text-dark"
                data-toggle="collapse"
                href="#collapseExample1"
                role=""
                aria-expanded="false"
                aria-controls="collapseExample"
                ><i onclick="myFunction(this)" class="fas fa-chevron-right"></i
              ></a>
            </h3>
            <a
              class="text-dark"
              data-toggle="collapse"
              href="#collapseExample1"
              role=""
              aria-expanded="false"
              aria-controls="collapseExample"
            >
            </a>
            <p></p>
            <div class="collapse mt-3 container mx-5" id="collapseExample1">
              <div class="card card-body" style="background-color: #cff1ff">
                Fresh, Fresh and only Fresh vegetables, greens, and tender Halal
                chicken are used in cooking, so that the best side of Indian
                cuisine comes alive in every bite.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 my-2">
          <div class="row justify-content-center">
            <div class="">
              <img
                src="https://d3ljlx3hzhder.cloudfront.net/sprink/b2c_assets/images/Group-13434.png"
                class="px-2"
                alt=""
              />
            </div>
            <div class="col-5 px-0">
              <h6>Real Cooking by Expert Chefs</h6>
            </div>
            <p>
              <a
                class="text-dark"
                data-toggle="collapse"
                href="#collapseExample2"
                role=""
                aria-expanded="false"
                aria-controls="collapseExample"
              >
              </a>
            </p>
            <h3 class="my-auto">
              <a
                class="text-dark"
                data-toggle="collapse"
                href="#collapseExample2"
                role=""
                aria-expanded="false"
                aria-controls="collapseExample"
                ><i onclick="myFunction(this)" class="fas fa-chevron-right"></i
              ></a>
            </h3>
            <a
              class="text-dark"
              data-toggle="collapse"
              href="#collapseExample2"
              role=""
              aria-expanded="false"
              aria-controls="collapseExample"
            >
            </a>
            <p></p>
            <div class="collapse mt-3 container mx-5" id="collapseExample2">
              <div class="card card-body" style="background-color: #cff1ff">
                Home made taste is always better. That’s why our meals are
                hand-crafted and hand cooked by expert chefs and taste-test
                everything for quality before plating and sending to dispatch.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-around my-md-5">
        <div class="col-md-4 my-2">
          <div class="row justify-content-center">
            <div class="">
              <img
                src="https://d3ljlx3hzhder.cloudfront.net/sprink/b2c_assets/images/Group-13434.png"
                class="px-2"
                alt=""
              />
            </div>
            <div class="col-5 col-sm-6 px-0">
              <h6>Healthy Standardised Usage of Oils &amp; Spices</h6>
            </div>
            <p>
              <a
                class="text-dark"
                data-toggle="collapse"
                href="#collapseExample3"
                role=""
                aria-expanded="false"
                aria-controls="collapseExample"
              >
              </a>
            </p>
            <h3 class="my-auto">
              <a
                class="text-dark"
                data-toggle="collapse"
                href="#collapseExample3"
                role=""
                aria-expanded="false"
                aria-controls="collapseExample"
                ><i onclick="myFunction(this)" class="fas fa-chevron-right"></i
              ></a>
            </h3>
            <a
              class="text-dark"
              data-toggle="collapse"
              href="#collapseExample3"
              role=""
              aria-expanded="false"
              aria-controls="collapseExample"
            >
            </a>
            <p></p>
            <div class="collapse mt-3 container mx-5" id="collapseExample3">
              <div class="card card-body" style="background-color: #cff1ff">
                Tasty does not mean extra oily and spicy. Our chefs know this,
                and all food is prepped with keeping this in the center.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 my-2">
          <div class="row justify-content-center">
            <div class="">
              <img
                src="https://d3ljlx3hzhder.cloudfront.net/sprink/b2c_assets/images/Group-13434.png"
                class="px-2"
                alt=""
              />
            </div>
            <div class="col-5 my-auto col-sm-6 px-0">
              <h6>All natural ingredients.</h6>
            </div>
            <p>
              <a
                class="text-dark"
                data-toggle="collapse"
                href="#collapseExample4"
                role=""
                aria-expanded="false"
                aria-controls="collapseExample"
              >
              </a>
            </p>
            <h3 class="my-auto">
              <a
                class="text-dark"
                data-toggle="collapse"
                href="#collapseExample4"
                role=""
                aria-expanded="false"
                aria-controls="collapseExample"
                ><i onclick="myFunction(this)" class="fas fa-chevron-right"></i
              ></a>
            </h3>
            <a
              class="text-dark"
              data-toggle="collapse"
              href="#collapseExample4"
              role=""
              aria-expanded="false"
              aria-controls="collapseExample"
            >
            </a>
            <p></p>
            <div class="collapse mt-3 container mx-5" id="collapseExample4">
              <div class="card card-body" style="background-color: #cff1ff">
                Oh — and we never use artificial ingredients or preservatives in
                our cooking. Period.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-right"><p>No Artificial colors or flavours.*</p></div>
  </div> -->
</div>
