<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/" />
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <div class="fluid-container">
      <nav class="navbar navbar-dark bg-secondary">
        <div>
          <img src="{{ imageSrc }}" width="200" height="60" />
          <br />
          <button class="btn btn-light">
            <a [routerLink]="'/fundtransfer'"> Fund Transfer</a>
          </button>
        </div>
      </nav>
    </div>
    <router-outlet></router-outlet>
  </body>
</html>
